@import "tailwindcss";

/* custom resets / variables go below */
:root {
  /* Colores */
  --bg-primary: #0a0a0a;
  --text-primary: #ffffff;
  --text-secondary: #4fe3c3;
  --border-color: #264c73;

  /* Tipografía */
  --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Aplicación base en tu CSS global */
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-main);
}